.demonstration-image {
    width: 100%;
    max-width: 40%;
    padding: 20px;
    border-radius: 6%;
    flex: 50%;
}

.demonstration-media {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .demonstration-image {
        max-width: 90%;
    }
}