{
	email "me@gbaranski.com"
}

api.wheretopark.app {
	header Access-Control-Allow-Origin "*"
	header Access-Control-Allow-Methods "GET"

	handle_path /v1/providers {
		header Cache-Control "max-age=3600" # 1 hour
		header Content-Type "application/json"
		respond `[ {
			"name": "collector",
			"url": "https://api.wheretopark.app/v1/collector"
		}
		]`
	}

	handle_path /v1/collector/* {
		reverse_proxy http://wheretopark_collector:8080
	}
}

import /etc/caddy/conf.d/*
