<a
    href="https://apps.apple.com/us/app/where-to-park/id6444453582?itsct=apps_box_badge&itscg=30200"
>
    <img
        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/white/en-us&releaseDate=1668988800"
        alt="Download on the App Store"
        class="h-16"
    />
</a>
