---
import { Image } from "astro:assets";
import parkingBasenKlodzko from "../assets/parking-basen-klodzko.webm";
import GoodThing from "../components/GoodThing.astro";
import appPreview from "../assets/app-preview.png";
import { useTranslations, type Language } from "../i18n/utils";

interface Props {
	lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="text-center">
    <h2 class="font-bold text-secondary uppercase">
        {t("blueprint.headline")}
    </h2>
    <h2 class="font-bold text-3xl">{t("blueprint.subheadline")}</h2>
</div>

<div
    class="flex flex-col-reverse items-center md:flex-row gap-12 mx-auto max-w-7xl md:px-8 p-4 md:mx-12 mt-12"
>
    <div class="flex-1">
        <video
            class="rounded-md shadow-xl"
            src={parkingBasenKlodzko}
            autoplay
            loop
            muted></video>
    </div>

    <div class="flex-1 mt-2">
        <h3 class="font-bold text-2xl mb-1">{t("blueprint[0].headline")}</h3>
        <p class="text-md font-light">{t("blueprint[0].subheadline")}</p>
        <div class="flex flex-col gap-6 mt-8 items-start">
            <GoodThing
                title={t("blueprint[0].goodthings[0].title")}
                content={t("blueprint[0].goodthings[0].content")}
            />
            <GoodThing
                title={t("blueprint[0].goodthings[1].title")}
                content={t("blueprint[0].goodthings[1].content")}
            />
        </div>
    </div>
</div>

<div
    class="flex flex-col-reverse items-center md:flex-row-reverse gap-12 mx-auto max-w-7xl md:px-8 p-4 md:mx-12 mt-12"
>
    <div class="flex-1">
        <Image
            class="rounded-md shadow-xl"
            src={appPreview}
            alt="mobile app preview"
        />
    </div>
    <div class="flex-1 mt-2">
        <h3 class="font-bold text-2xl mb-1">{t("blueprint[1].headline")}</h3>
        <p class="text-md font-light">{t("blueprint[1].subheadline")}</p>
        <div class="flex flex-col gap-6 mt-8">
            <GoodThing
                title={t("blueprint[1].goodthings[0].title")}
                content={t("blueprint[1].goodthings[0].content")}
            />
            <GoodThing
                title={t("blueprint[1].goodthings[1].title")}
                content={t("blueprint[1].goodthings[1].content")}
            />
        </div>
    </div>
</div>
