---
import QnA from "../components/QnA.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="text-center">
    <h2 class="font-bold text-secondary uppercase">FAQs</h2>
    <h2 class="font-bold text-3xl">{t("faq.title")}</h2>
    <h3 class="font-light text-muted mt-2">{t("faq.subtitle")}</h3>
</div>
<div class="mx-auto gap-8 gap-y-8 grid grid-cols-1 md:grid-cols-2 mt-8">
    <QnA question={t("faq.qas[0].question")}>
        <ul>
            <li>
                <span set:html={t("faq.qas[0].answer[0].former")} />
                <a
                    href="https://apps.apple.com/us/app/where-to-park/id6444453582"
                    class="link link-secondary"
                    target="_blank">App Store</a
                >
                <span set:html={t("faq.qas[0].answer[0].latter")} />
            </li>
            <li>
                <span set:html={t("faq.qas[0].answer[1].former")} />
                <a
                    href="https://play.google.com/store/apps/details?id=com.gbaranski.wheretopark"
                    class="link link-secondary"
                    target="_blank">Google Play</a
                >
                <span set:html={t("faq.qas[0].answer[1].latter")} />
            </li>
            <li>
                <span set:html={t("faq.qas[0].answer[2]")} />
                <a
                    href="https://web.wheretopark.app"
                    class="link link-secondary"
                    target="_blank">web.wheretopark.app</a
                >
            </li>
        </ul>
    </QnA>
    <QnA
        question={t("faq.qas[1].question")}
        set:html={t("faq.qas[1].answer")}
    />
    <QnA
        question={t("faq.qas[2].question")}
        set:html={t("faq.qas[2].answer")}
    />
    <QnA
        question={t("faq.qas[3].question")}
        set:html={t("faq.qas[3].answer")}
    />
</div>
