---
import PseudoCard from "../components/Feature.astro";
import { useTranslations, type Language } from "../i18n/utils";

interface Props {
	lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="text-center">
    <h2 class="font-bold text-secondary uppercase">{t("features.headline")}</h2>
    <h2 class="font-bold text-3xl">{t("features.subheadline")}</h2>
    <h3 class="font-light text-muted mt-2">
        {t("features.subheadline2")}
    </h3>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 mt-8 gap-12 justify-items-start">
    <PseudoCard
        icon="mdi:hourglass"
        title={t("features[0].title")}
        content={t("features[0].content")}
    />
    <PseudoCard
        icon="mdi:currency-usd"
        title={t("features[1].title")}
        content={t("features[1].content")}
    />
    <PseudoCard
        icon="uil:analysis"
        title={t("features[2].title")}
        content={t("features[2].content")}
    />
    <PseudoCard
        icon="mdi:chart-bar"
        title={t("features[3].title")}
        content={t("features[3].content")}
    />
    <PseudoCard
        icon="mdi:wheelchair-accessibility"
        title={t("features[4].title")}
        content={t("features[4].content")}
    />
    <PseudoCard
        icon="mdi:bullhorn-outline"
        title={t("features[5].title")}
        content={t("features[5].content")}
    />
</div>
