---
import { Image } from "astro:assets";
import icon from "../assets/icon-text@256.webp"
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const homeURL = getRelativeLocaleUrl(lang, "/");

---
<a href={homeURL}>
	<Image src={icon} alt="where to park" height={256} class="w-72" />
</a>