---
import { Image } from "astro:assets";
import icon from "../assets/icon-text@256.webp"
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Language } from "../i18n/utils";

interface Props {
	lang: Language;
}

const { lang } = Astro.props;
---
<a href={getRelativeLocaleUrl(lang, "/")}>
	<Image src={icon} alt="where to park" height={256} class="w-72" />
</a>