---
import Icon from "astro-icon";
---

<Icon name="mdi:rocket-outline" class="h-4 inline-block" />
<span class="align-middle text-xs">
    <span class="font-bold">Philosophy:</span>
     We'll reinvent the way you park - easier, faster and simpler.
</span>