---
import Icon from "astro-icon";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Icon name="mdi:rocket-outline" class="h-4 inline-block" />
<span class="align-middle text-xs">
    {t("philosophy")}
</span>