---
import Icon from "astro-icon";
import { useTranslations, type Language } from "../i18n/utils";

interface Props {
    lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<Icon name="mdi:rocket-outline" class="h-4 inline-block" />
<span class="align-middle text-xs">
    {t("philosophy")}
</span>
