.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

#master {
  background-color: rgb(255, 253, 246);
  width: 400px;
  left: 0;
}

#slave {
  width: calc(100% - 400px);
  right: 0;
}

@media only screen and (max-width: 400px) {
  #master {
    width: 100%;
  }

  #slave {
    width: 0%;
    display: none;
  }
}