---
import { Image } from "astro:assets";
import { cities } from "../../assets/cities";
---         
<div
    class="flex-1 flex flex-row flex-wrap justify-evenly items-center bg-slate-100 border shadow-sm p-8 rounded-lg"
>
    {
        cities.map((city) => (
            <Image
                class="p-2 object-scale-down "
                src={city.image}
                alt={city.name}
                width={72}
            />
        ))
    }
</div>

<div class="flex-1">
    <h3 class="font-bold text-2xl mb-1">
        Supported in major cities
    </h3>
    <p class="text-md font-light">
        Not limited to only one country. We're expanding rapidly and
        broadly.
    </p>
</div>