---
import Awards from "./Awards.astro";
import Cities from "./Cities.astro";
import News from "./News.astro";
---
<div class="text-center">
    <h2 class="font-bold text-secondary uppercase">Progress</h2>
    <h2 class="font-bold text-3xl">Where To Park's outreach</h2>
    <p class="text-md font-light mt-2">
        Gain a competitive advantage by incorporating industry leading
        practices
    </p>
</div>

<div
    class="flex flex-col-reverse items-center md:flex-row gap-12 mx-auto max-w-7xl md:px-8 p-4 md:mx-12 mt-12"
>
    <Cities />
</div>

<div
    class="flex flex-col-reverse items-center md:flex-row-reverse gap-12 mx-auto max-w-7xl md:px-8 p-4 md:mx-12 mt-12"
>
    <Awards />
</div>

<div
    class="flex flex-col-reverse items-center md:flex-row gap-12 mx-auto max-w-7xl md:px-8 p-4 md:mx-12 mt-12"
>
    <News />
</div>