---
import { Image } from "astro:assets";
import { news } from "../../assets/news";
---
<div
    class="flex-1 flex flex-row flex-wrap justify-evenly items-center bg-slate-100 border shadow-sm p-8 rounded-lg"
>
    {
        news.map((news) => (
            <a href={news.link}>
                <Image
                    class="p-2 object-scale-down "
                    src={news.image}
                    alt={news.link}
                    width={72}
                />
            </a>
        ))
    }
</div>

<div class="flex-1">
    <h3 class="font-bold text-2xl mb-1">Press</h3>
    <p class="text-md font-light">
        Our team appeared on many media sites, promoting our ideas
        and vision on future of parking lots.
    </p>
</div>