{% extends "juice/templates/index.html" %}
{% block head %}
<link rel="stylesheet" href="{{ get_url(path="index.css") }}">
<script defer data-domain="wheretopark.app" src="https://plausible.gbaranski.com/js/plausible.js"></script>
{% endblock head %}
{% block hero %}
<section>
    <h1 class="text-center heading-text">{{ trans(key="heading", lang=lang) }}</h1>
    <h3 class="text" style="text-align: center;">
        {{ trans(key="subheading", lang=lang) | markdown | safe }}
        <div style="margin-top: 30px; display: flex; flex-direction: column; align-items: center">
            <a href="https://apps.apple.com/us/app/where-to-park/id6444453582?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src={{ section.extra.app_store_badge }} alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
            <br/>
            <span>
                {{ trans(key="or", lang=lang) }}
                <a href="https://web.wheretopark.app">{{ trans(key="openAppInBrowser", lang=lang) }}</a>
            </span>
        </div>
    </h3>
</section>
{% endblock hero %}

{% block footer %}
<footer>
    <small class="subtext">
        <a href="https://gbaranski.com">Grzegorz Barański</a> © 2022
    </small>
</footer>
{% endblock footer %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}