---
import BaseLayout from "../layouts/BaseLayout.astro";
import gregorybaranski from "../assets/team/gregorybaranski.webp";
import stanbaranski from "../assets/team/stanbaranski.webp";
import MateCard from "../components/MateCard.astro";
---

<BaseLayout lang="en" title="About us">
    <div class="flex flex-col px-8 md:px-36 gap-8">
        <div>
            <h1 class="font-bold text-xl mb-2">General Contact</h1>
            <p class="font-light">
                Email: <a
                    class="link link-secondary font-medium"
                    href="mailto:contact@wheretopark.app"
                    >contact@wheretopark.app</a
                >
            </p>
        </div>
        <h1 class="font-bold text-xl">Our Team</h1>
        <div class="flex mt-1 gap-16">
            <MateCard
                image={gregorybaranski}
                name="Gregory Baranski"
                website="https://gbaranski.com"
                mail="gregory.baranski@wheretopark.app"
            >
                <p>Founder @ Where To Park</p>
                <p>Software Developer</p>
                <p>Business Relations</p>
            </MateCard>
            <MateCard
                image={stanbaranski}
                name="Stan Baranski"
                website="https://stan.bar"
                mail="stan.baranski@wheretopark.app"
            >
                <p>Senior Technical Adviser @ Where To Park</p>
                <p>PhD Candidate</p>
                <p>Legacy technology assistance</p>
            </MateCard>
        </div>
    </div>
</BaseLayout>
