---
import Layout from "../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import OurProgress from "../components/OurProgress/Index.astro"
import Philosophy from "../components/Philosophy.astro";
import Features from "../components/Features.astro";
import Blueprint from "../components/Blueprint.astro";
import Guide from "../components/Guide.astro";
import FAQ from "../components/FAQ.astro";
import Hero from "../components/Hero.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Where To Park" lang={lang}>
	<div
		class="flex max-md:flex-col justify-between items-center px-8 md:px-36"
	>
		<Hero translations={t} />
	</div>

	<div
		class="bg-blue-50 text-black w-screen left-0 py-4 text-black text-center my-12"
	>
		<Philosophy />
	</div>

	<div class="w-full relative mx-auto max-w-4xl px-4">
		<Features />
	</div>

	<div class="bg-blue-50 py-16 my-32 px-4">
		<Blueprint />
	</div>

	<div class="relative mx-auto mx-auto max-w-4xl px-6">
		<Guide />
	</div>

	<div class="bg-blue-50 py-16 my-32">
		<OurProgress />
	</div>

	<div class="w-full relative mx-auto max-w-4xl px-2">
		<FAQ />
	</div>
</Layout>

<style></style>
