//
//  Development.xcconfig
//  wheretopark
//
//  Created by Grzegorz Barański on 23/09/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PROTOCOL = http:/
DATABASE_URL = $(PROTOCOL)/192.168.1.2:8000
DATABASE_NAMESPACE = wheretopark
DATABASE_NAME = development
DATABASE_USERNAME = root
DATABASE_PASSWORD = root
