<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTHORIZATION_URL</key>
	<string>$(AUTHORIZATION_URL)</string>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>CLIENT_SECRET</key>
	<string>$(CLIENT_SECRET)</string>
	<key>STOREKEEPER_URL</key>
	<string>$(STOREKEEPER_URL)</string>
</dict>
</plist>
