//
//  Production.xcconfig
//  wheretopark
//
//  Created by Grzegorz Barański on 30/10/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PROTOCOL = https:/
DATABASE_URL = $(PROTOCOL)/database.wheretopark.app
DATABASE_NAMESPACE = wheretopark
DATABASE_NAME = production
DATABASE_USERNAME = root
DATABASE_PASSWORD = LeARKSTahAnteMIg
