<footer class="footer py-10 px-8 md:px-36 bg-base-200 text-base-content">
  <aside>
    <p><span class="font-bold text-xl">Where To Park</span><br />AI-driven parking lot app since 2022</p>
  </aside>
  <nav>
    <header class="footer-title">Website</header>
    <a class="link link-hover" href="/">Home page</a>
    <a class="link link-hover" href="/about">About us</a>
    <a class="link link-hover" href="/contact">Contact</a>
  </nav>
  <nav>
    <header class="footer-title">Extra</header>
    <a class="link link-hover" href="https://www.instagram.com/gregory.baranski/">Instagram</a>
    <a class="link link-hover" href="https://wheretopark.app">Website</a>
    <a class="link link-hover" href="https://apps.apple.com/us/app/where-to-park/id6444453582">App Store</a>
    <a class="link link-hover" href="https://play.google.com/store/apps/details?id=com.gbaranski.wheretopark">Google Play</a>
  </nav>
  <nav>
    <header class="footer-title">Legal</header>
    <a class="link link-hover" href="/privacy-policy">Privacy policy</a>
  </nav>
</footer>
