---
import Logo from '../components/Logo.astro';
---

<navbar class="navbar z-30">
	<div class="navbar-start">
		<Logo />
	</div>
	<!-- <div class="navbar-end">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a href="/faq" class="basis-full text-sm"
                    >FAQ
                </a>
            </li>
            <li>
                <a href="/about" class="basis-full text-sm"
                    >About
                </a>
            </li>
        </ul>
	</div> -->
</navbar>